<!doctype html>
{% load static %}
{% load active %}
{% load crispy_forms_tags %}
{% load humanize %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <link rel="stylesheet" href="{% static 'css/tagsinput.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body style="font-family: 'Poppins', sans-serif;">
    {% include 'navbar.html' %}   
    <div class="container-fluid h-100">
      <div class="row">
        <div id="sidebar" class="col-lg-3 col-md-3 d-none d-lg-block d-md-block position-fixed h-100">
          <div>
            <h3>Notes <a id="a_d" class="btn float-right" style="font-size: 25px; color: blue; padding-top: 0;"  data-toggle="modal" data-target="#add_note"><i class="fas fa-plus" data-toggle="tooltip" title="Add a new note"></i></a></h3>
            <input type="text" id="search_note" class="form-control" placeholder="Search">
            </div>
            <hr>
            <ul class="nav nav-pills flex-column">
              {% for note in notes %}
              <li class="nav-item" id="note_details">
                <a href="{% url 'note_detail' note.slug %}" class="{% add_active request 'note_detail' note.slug %} nav-link"><span style="text-decoration: none !important;">{{ note.note_title|truncatechars:24 }}</a>
              </li>
              {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9 col-md-9 offset-md-3 col-sm-12 col-xs-12" style="padding-top: 1%; padding-left: 0; padding-right: 0;">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="edit-modal-div"></div>
    <div class="delete-modal-div"></div>

    <!-- Add Modal -->
    <div class="modal fade" id="add_note">
      <div class="modal-dialog modal-lg w-100 mw-100" style="margin-left: 0.5%;">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add New Note</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <form action="{% url 'notes' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              {{ add_note_form.media }}
              {% for field in add_note_form %}
              <div class="form-group col-lg-12 col-md-12">
                  {{ field | as_crispy_field }}
              </div>
              {% endfor %}
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <input type="submit" class="btn btn-success" value="Add">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          </form>

        </div>
      </div>
    </div>

    <!-- Loader Div -->
    <div class="loader"></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="{% static 'js/tagsinput.js' %}"></script>
    {% block javascript %}
    {% endblock %}
    <script>
      function getSelectionText(){
        // http://www.javascriptkit.com/javatutors/copytoclipboard.shtml
        var selectedText = "";
        if (window.getSelection){ // all modern browsers and IE9+
            selectedText = window.getSelection().toString();
        }
        return selectedText;
      }

      $(document).on('mouseup','#note_details',function(e) {
        var thetext = getSelectionText()
          if (thetext.length > 0){ // check there's some text selected
            document.execCommand('copy'); // copies whatever textual content the user has selected on the page
            // e.target.insertAdjacentHTML( 'afterbegin', '<div id="selected_text" data-toggle="tooltip" title="Copied"></div>');
            // $("#selected_text").tooltip('toggle');
            // alert(thetext);
          }
      });

      $(document).ready(function() {
        //tables
        $('table').addClass('table table-striped table-bordered');
        $('thead').addClass('thead-dark');

        // loader
        $('.loader').hide();

        // Markdown Editor
        var easyMDE = new EasyMDE({
            autofocus: true,
            autorefresh: true,
            spellChecker: false,
            minHeight: '180px'
        });

        // datatable
        $('#all_notes').DataTable({
          order: [],
          responsive: true,
          // "lengthChange": false
        });

        // sidebar
        $('#offcanvas').click(function() {
          $('.row-offcanvas').toggleClass('active');
        });

        $('#a_d').click(function() {
          $('.row-offcanvas').toggleClass('active');
        });

        $("#search_note").autocomplete({
          source: "{% url 'search_note' %}",
          minLength: 2,
          select: function (value, data) {
            // console.log();
            window.location.replace("{{script_name}}/notes/" + data['item']['slug'] + "/");
          }
        });
      });
    </script>
    {% if form_error %}
      <script>
        $('#add_note').modal("show");
      </script>
    {% endif %}

    <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip(); 
      });

      $('#copy_shareable_link').on('click', function(){
        /* Get the text field */
        var copyText = document.getElementById("shareable_link");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");
    });
    </script>

    <script>
        var modalDiv = $(".delete-modal-div");
        $(".open-delete-modal").on("click", function() {
        $.ajax({
            type: 'GET',
            url: $(this).attr("data-url"),
            beforeSend: function() {
                $(".loader").show();
            },
            success: function(data) {
                modalDiv.html(data);
                $(".loader").hide();
                $("#delete_note_confirmation").modal();
            }
        });
        });
    </script>

    <script>
        var modalDiv = $(".edit-modal-div");
        $(".open-modal").on("click", function() {
        $.ajax({
            type: 'GET',
            url: $(this).attr("data-url"),
            beforeSend: function() {
                $(".loader").show();
            },
            success: function(data) {
                modalDiv.html(data);
                $(".loader").hide();
                $("#edit_note").modal();
            }
        });
        });
    </script>
  </body>
</html>
