{% extends 'registration_base.html' %}
{% block title %}Change Password{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3 col-sm-12 col-xs-12 alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div class="col-lg-6 col-md-6 offset-md-3">
            <h1>Change Password</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 offset-md-3">
                <form method="post" class="form" action="{% url 'change_password' %}">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form %}
                        <div class="form-group col-lg-12 col-md-12">
                            {{ field | as_crispy_field }}
                        </div>
                        {% endfor %}
                    </div>
                    <button class="btn btn-success" type="submit">Update Password</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}