{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ note_detail.note_title }}{% endblock %}
{% block content %}
<div class="container">{% include 'messages.html' %}</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            {% if note_detail %}
                <div class="row">
                    <h3 class="col-lg-10 col-md-10 col-sm-12" style="width: 100%; word-wrap: break-word;">
                        <p class="text-wrap">
                            {{ note_detail.note_title }}
                        </p>
                    </h3>
                    <span class="float-right col-lg-2 col-md-2 col-sm-12">
                        <a class="open-modal" data-url="{% url 'note_details_edit' note_detail.id %}" style="text-decoration: none; color: white" data-toggle="tooltip" title="Edit Note">    
                            <span class="btn btn-primary" style="border-radius: 0;"><i class="far fa-edit"> </i></span>
                        </a>
                        <a href="{% url 'note_as_pdf' note_detail.slug %}" style="text-decoration: none; color: white" data-toggle="tooltip" title="Download Note as PDF">    
                            <span class="btn btn-primary" style="border-radius: 0;"><i class="fa fa-download"> </i></span>
                        </a>
                        <span class="btn btn-danger" style="border-radius: 0;" data-toggle="modal" data-target="#delete_note_confirmation"  data-toggle="tooltip" title="Delete Note">
                            <i class="far fa-trash-alt"> </i>
                        </span>
                    </span>
                </div>
                
                <div class="row">
                    <div class="col-12">
                            <p style="color: gray; font-size: 15px;" data-toggle="tooltip" title="Created at: {{ note_detail.created_at }}">
                                Last Updated: {{ note_detail.updated_at }}
                            </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {% for tag in note_detail.tags.all %}
                            <span class="badge badge-primary">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        {{ note_detail.note_content|safe }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- The result get appended here -->
<div class="modal-div"></div>

<!-- Delete Note Modal -->
<div class="modal fade" id="delete_note_confirmation">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Confirm Deletion</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row container">
                    <h5>Are you sure you want to delete "{{ note_detail.note_title }}"?</h5>
                </div>
            </div>
    
            <!-- Modal footer -->
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Cancel">
                <button type="button" class="btn btn-danger"><a href="{% url 'delete_single_note' note_detail.id %}" style="text-decoration: none; color: white">Delete</a></button>
            </div>
    
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    var modalDiv = $(".modal-div");
    $(".open-modal").on("click", function() {
    $.ajax({
        type: 'GET',
        url: $(this).attr("data-url"),
        success: function(data) {
            modalDiv.html(data);
            $("#edit_note").modal();
        }
    });
    });
</script>
{% endblock %}